<%= simple_form_for [@project], class: "input-group mb-3" do |f| %>
      <%= f.input :name, class: "form-control", placeholder: "Mon premier projet", label: "Nom du projet"%>
      <div class="input-group-append">
        <%= f.submit value: "Modifier", class: 'btn btn-primary' %>
      </div>
<% end %>